 @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300;400;500;600;700&family=DM+Serif+Display&family=Dongle:wght@300;400;700&family=Noto+Sans+JP:wght@300;400;500;600;700&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Secular+One&display=swap');



*{
    padding:0px;
    margin:0px;
    /* border-radius:10px; */
}

h3{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    color:white;
}

#main_body{
    text-align: center;
    background-color:#259dde;
    background-color:#93BFCF;
    width:500px;
    display: flex;
    flex-direction: column;
    gap:30px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:30px 30PX 45pX 30pX;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}



#input_field input{
    width:90%;
    height: 30px;
    border:none;
    background-color:  #F7EFE5;
}


#displaybox{
    padding: 10px;
    margin:0px auto;
    background-color:  #F7EFE5;
    width:90%;
    height:200px;
    overflow-y: auto;
    text-align: left;

}

hr{
    border:1px solid #259dde;
}

#displaysigncal{
    width:100%;
    display: flex;
    height:85%;
}


#sign{
    width:60%;
    /* border:1px solid black; */
    /* text-align: end; */
    display: flex;
    /* justify-content: end;
    align-items: end; */
    font-size: 16px;
    color:#259dde;
    /* padding-right:10px; */

}

#signsymbol{
    font-size:22px;
    width:10%;
    display: flex;
    justify-content: end;
    align-items: end;
}

#operation{
    width:90%;
}

#operation h4{
    padding-bottom:10px;
}

#sign ol li{
    margin-bottom: 10px;
    list-style: none;
}
#cal{
   width:40%;
   overflow-y: scroll;
   text-align: center;
   /* border:1px solid black;  */
}



#display{
    text-align: end;
    padding-top: 6px;
    padding-right:90px;
}

.usecol{
    color:red;
}